body {
    font-family: 'Montserrat', serif;
    background-color: #ffffff;
    font-size: 12px;
}

img {
    border-radius: 12px;
    width: 100%;
    /*height: 50%;*/
}

#newsbox {
    width: 30%;
    font-size: 20px !important;   
}